@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="container d-flex justify-content-center align-items-center">
    <div class="text-center">
        <div class="mb-4">
            <span class="display-1 text-danger">&#128533;</span>
        </div>
        <h1 class="display-3 text-danger">Грешка!</h1>
        <h2 class="h4 text-muted">Опа! Нещо се обърка.</h2>
        <p class="lead text-muted">
            Грешката, която сте срещнали, не е разпозната или е имало неочакван проблем. Моля, опитайте отново по-късно или се свържете с поддръжката, ако проблемът продължава.
        </p>

        <p>
            <a href="/" class="btn btn-danger btn-lg">Върни се в началото</a>
        </p>
    </div>
</div>

@section Styles {
    <style>
        body {
            background-color: #f4f7f6;
        }

        .container {
            max-width: 600px;
        }

        .btn-danger {
            background-color: #FF6347;
            border-color: #FF6347;
        }

        .btn-danger:hover {
            background-color: #E55347;
            border-color: #E55347;
        }
    </style>
}