@model CVFormModel

@{
    ViewBag.Title = "Create CV";
}

<h3 class="text-center my-4 text-primary">@ViewBag.Title</h3>
<hr />

<partial name="_CVFormPartial" />

@section Scripts {
    <partial name="_ValidationScriptsPartial"></partial>
    <script src="~/js/degreeManager.js"></script>
    <script src="~/js/professionalExperienceManager.js"></script>
}