@model CVFormModel

@{
    ViewBag.Title = "Редактиране на CV";
}

<h3 class="text-center my-4 text-primary">@ViewBag.Title</h3>
<hr />

<input type="hidden" id="initialDegrees" value='@Model.DegreesJson' />
<input type="hidden" id="initialProfessionalExperiences" value='@Model.ProfessionalExperiencesJson' />

<partial name="_CVFormPartial" />

@section Scripts {
    <partial name="_ValidationScriptsPartial"></partial>
    <script src="~/js/degreeManager.js"></script>
    <script src="~/js/professionalExperienceManager.js"></script>
}
