@{
    ViewBag.Title = "Home";
}

<h3>@ViewBag.Title</h3>
<p>Welcome, Admin!</p>

<a asp-area="Admin" asp-controller="User" asp-action="All" class="btn btn-primary btn-lg">All Users</a>
<a asp-area="Admin" asp-controller="Company" asp-action="All" class="btn btn-primary btn-lg">All Companies</a>