@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1 class="text-center my-4">@ViewData["Title"]</h1>

<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="shadow p-4 rounded bg-light">
            <h2 class="text-center">Create a New Account</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-floating mb-3 position-relative">
                <input asp-for="Input.FirstName" class="form-control" autocomplete="username" aria-required="true" placeholder="First Name" />
                <label asp-for="Input.FirstName"><i class="fas fa-user me-2"></i>First Name</label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3 position-relative">
                <input asp-for="Input.LastName" class="form-control" autocomplete="username" aria-required="true" placeholder="Last Name" />
                <label asp-for="Input.LastName"><i class="fas fa-user me-2"></i>Last Name</label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3 position-relative">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email" />
                <label asp-for="Input.Email"><i class="fas fa-envelope me-2"></i>Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3 position-relative">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Password" type="password" />
                <label asp-for="Input.Password"><i class="fas fa-lock me-2"></i>Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3 position-relative">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirm Password" type="password" />
                <label asp-for="Input.ConfirmPassword"><i class="fas fa-lock me-2"></i>Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary mt-3">
                <i class="fas fa-user-plus me-2"></i>Register
            </button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}