@model IEnumerable<ConferenceViewModel>

@{
    ViewBag.Title = "Mine Conferences";
}

<h3>@ViewBag.Title</h3>
<hr />

<div class="container">
    <partial name="_ConferenceViewPartial" />
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/conference/conferenceView.css">
}