﻿:root {
    --primary-color: #364F6B;
    --secondary-color: #EA5455;
    --light-color: #F4F4F9;
    --neutral-color: #D3D3D3;
}

body {
    background-color: var(--light-color);
    color: var(--primary-color);
    font-family: 'Arial', sans-serif;
}

h3.text-center {
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary-color);
}

hr {
    border: 0;
    border-top: 3px solid var(--secondary-color);
    width: 25%;
    margin: 20px auto;
}

.card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 3rem;
}

label {
    font-weight: bold;
    color: var(--primary-color);
    font-size: 1.1rem;
}

.form-control {
    border-radius: 10px;
    padding: 0.8rem;
    font-size: 1rem;
    background-color: #f8f9fa;
}

.form-control:disabled {
    background-color: #e9ecef;
    cursor: not-allowed;
}

.description-container {
    font-size: 1rem;
    background-color: #f8f9fa;
    padding: 1rem;
    border-radius: 10px;
    margin-top: 10px;
}

.btn-danger {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: white;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
}

.btn-danger:hover {
    background-color: white;
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
}

.w-100 {
    width: 100%;
}