@model JobOfferDetailsViewModel

@{
    ViewBag.Title = "Изтриване на оферта за работа";
}

<h3 class="text-center text-primary mb-4">@ViewBag.Title</h3>
<hr />

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg border-0 rounded">
                <div class="card-body">
                    <h4 class="text-center mb-4 text-danger">
                        <i class="fas fa-trash-alt"></i> Сигурни ли сте, че искате да изтриете това предложение за работа?
                    </h4>

                    <form asp-action="Delete">
                        <div class="mb-3">
                            <label asp-for="Title" class="form-label"><i class="fas fa-briefcase"></i> Заглавие</label>
                            <input asp-for="Title" class="form-control" disabled="disabled" />
                        </div>

                        <div class="mb-3">
                            <label class="form-label"><i class="fas fa-file-alt"></i> Описание</label>
                            <div class="form-text bg-light p-3 rounded" style="white-space: pre-wrap;">
                                @Html.Raw(Model.Description.RemoveHtmlXss())
                            </div>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Address" class="form-label"><i class="fas fa-map-marker-alt"></i> Локация</label>
                            <input asp-for="Address" class="form-control" disabled="disabled" />
                        </div>

                        <div class="d-grid gap-2 mt-4">
                            <input type="submit" value="Изтрий" class="btn btn-danger btn-lg">

                            <a asp-area="" asp-controller="JobOffer" asp-action="All" class="btn-primary btn btn-lg">
                                <i class="fas fa-times-circle"></i> Върни се
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/jobOffer/deleteJobOffer.css" />
}